langchain
ipykernel
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-community
sentence_transformers
langchain_huggingface
tqdm
hf_xet
faiss-cpu
langchain-ollama
chromadb
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve[all]
pydantic==2.10.6
numpy
pandas
matplotlib
seaborn
pathlib
mysql-connector-python
SQLAlchemy
huggingface_hub
ipywidgets
cassio
datasets
tiktoken
